# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=arbres_db
DB_USER=postgres
DB_PASS=password

# Python CLI Configuration
PYTHON_BIN=/home/cfouche/Documents/Code/Projet_BigDataIAWeb/.venv/bin/python
