# Database Configuration (SQLite)
DB_PATH=/home/cfouche/Documents/Code/Projet_BigDataIAWeb/WEB/data/trees.sqlite

# Python CLI Configuration
PYTHON_BIN=/home/cfouche/Documents/Code/Projet_BigDataIAWeb/.venv/bin/python
